* {
    box-sizing: border-box;
}

body {
    background: #eee;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "arial", "verdana";
    font-size: 1rem;
}